@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 70vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in-out, opacity 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
  opacity: 0.6; /* Added opacity for inactive panels */
  border: 2px solid transparent; /* Added transparent border for inactive panels */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); /* Added shadow for panels */
}


.panel:hover {
  border: 2px solid rgb(255, 33, 248); /* Highlighted cyan border on hover */
}

.panel.active {
  flex: 1;
  opacity: 1;
  border: 3px solid rgb(255, 33, 248); /* Thicker border for active panel */
  box-shadow: 0 0 10px rgb(255, 33, 248); /* Slight cyan glow around active panel */
  transition: flex 0.7s ease-in-out, opacity 0.5s ease-in-out, border 0.3s ease-in-out, box-shadow 0.5s ease-in-out; /* Adjusted transition for active panel */
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active h3 {
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

.project-title{
  top: 0;
}

.backbutton {
  position: fixed;
  top: 5px;
  left: 5px;
}
