.ic-title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.country{
    margin-bottom: 1rem;
    font-style: italic;
}
.userInput{
    display: flex;
    padding : 0.5rem;
    justify-content: space-between;
    gap: 2rem;
}

.result-digit{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.calcInput{
    border: 1px solid #ccc !important;
    text-align: right; /* Added to align calcInput to the right */
}

.reset-button{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
